<% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>

<p id="notice"><%= notice %></p>

<h1>Issues</h1>

<div class="container">
  <div id="map"></div>
    <% content_for :javascript_includes do %>
    <%= javascript_include_tag "maps_index.js" %>
    <% end %>
</div>

  <% if @issues.any? %>

    <%= form_for(:issue, :url => { :action => "index"}, :html => {:method => :get}) do |f| %>
      <%= f.select :status, ['Open', 'Pending', 'Resolved'], :name => "status-filter", :class => 'status-filter' %>
      <%= f.submit "Filter", :class => "filter-status-button"  %>
    <% end %>
    <%= form_for(:issue, :url => { :action => "index"}, :html => {:method => :get}) do |f| %>
      <%= f.select :tag, Tag.all.map { |tag| tag.name }, :name => "tag-filter", :class => 'tag-filter' %>
      <%= f.submit "Filter", :class => "filter-tag-button" %>
    <% end %>

    <table>
      <thead>
        <tr>
          <th>Pic</th>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Tag</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @issues.each do |issue| %>
          <tr>
            <td><%= image_tag issue.image.url(:thumb), :class => "issue_thumb_image" %></td>
            <td><%= issue.title %></td>
            <td><%= issue.description %></td>
            <td><%= issue.status.capitalize %></td>
            <td><%= issue.tags.map{|tag| tag.name}.join(', ') %></td>
            <td><%= link_to 'Show', issue %></td>
            <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
            <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else%>
    No issues have been reported
  <% end %>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MAPS_API_KEY']%>&callback=indexMarkers">
</script>