<div class="container">
  <div id="map"></div>
    <% content_for :javascript_includes do %>
    <%= javascript_include_tag "maps_index.js" %>
    <% end %>
</div>

  <% if @issues.any? %>

  <div class="filters">
    <div class="filter-form">
      <%= form_for(:issue, :url => { :action => "index"}, :html => {:method => :get}) do |f| %>
        <%= f.select :status, ['Open', 'Pending', 'Resolved'], :name => "status-filter", :class => 'status-filter' %>
        <%= f.submit "Filter", :class => "filter-status-button btn btn-default btn-xs"  %>
      <% end %>
    </div>
    <div class="filter-form">
      <%= form_for(:issue, :url => { :action => "index"}, :html => {:method => :get}, :class => 'filter-form') do |f| %>
        <%= f.select :tag, Tag.all.map { |tag| tag.name }, :name => "tag-filter", :class => 'tag-filter' %>
        <%= f.submit "Filter", :class => "filter-tag-button btn btn-default btn-xs" %>
      <% end %>
    </div>
  </div>

  <div class="listed-issues">
    <div class="row">
      <% @issues.each do |issue| %>
        <div class="col-sm-12">
          <div class="single-issue">
            <%= image_tag issue.image.url(:thumb), :class => "issue_thumb_image" %>
            <%= issue.title %>
            <%= issue.description %>
            <%= issue.created_at.strftime("%d %m, %Y") %>
            <%= issue.status.capitalize %>
            <%= issue.tags.map{|tag| tag.name}.join(', ') %>
            <%= link_to 'Show', issue %>
            <%= link_to 'Edit', edit_issue_path(issue) %>
            <%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% else%>
    No issues have been reported
  <% end %>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MAPS_API_KEY']%>&callback=indexMarkers">
</script>
