<p id="notice"><%= notice %></p>

<h1>Issues</h1>
  <% if @issues.any? %>

    <p>Filter by status</p>
    <%= form_for(:issue, :url => { :action => "index"}, :html => {:method => :get}) do |f| %>
      <%= f.select :status, ['open', 'pending', 'resolved'] %>
      <%= f.submit "Filter" %>
    <% end %>

    <table>
      <thead>
        <tr>
          <th>Pic</th>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Tag</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @issues.each do |issue| %>
          <tr>
            <td><%= image_tag issue.image.url(:thumb), :class => "issue_thumb_image" %></td>
            <td><%= issue.title %></td>
            <td><%= issue.description %></td>
            <td><%= issue.status %></td>
            <td><%= issue.tags.map{|tag| tag.name}.join(', ') %></td>
            <td><%= link_to 'Show', issue %></td>
            <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
            <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else%>
    No issues have been reported
  <% end %>

<br>

<%= link_to 'Report Issue', new_issue_path %>
