<h2><%= @issue.title %></h2>

<%= image_tag @issue.image.url(:big), :class => "issue_big_image" %>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <p class="btn btn-default status"><strong>Status:</strong> <%= @issue.status %></p>
</p>

<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :status, :value => :pending %>
  </div>

  <div class="actions">
    <%= f.submit 'Mark as in progress', :class => 'btn btn-default status-btn' %>
  </div>
<% end %>

<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :status, :value => :resolved %>
  </div>

  <div class="actions">
    <%= f.submit 'Mark as resolved', :class => 'btn btn-default status-btn' %>
  </div>
<% end %>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>

<script>
  var statusChanger = (function(){
     var statusColor = function() {
       $(".status:contains('open')").css("background-color", "#aa0b10");
       $(".status:contains('pending')").css("background-color", "#e47813");
       $(".status:contains('resolved')").css("background-color", "#286e1a");
   };

   return {
     color: statusColor
   };
  }());

  statusChanger.color();
</script>

<div class="container">
  <div id="map"></div>
    <% content_for :javascript_includes do %>
    <%= javascript_include_tag "maps_show.js" %>
    <% end %>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MAPS_API_KEY']%>&callback=issueMarker">
</script>
