<!DOCTYPE html>
<html>
  <head>
    <title>FixCity</title>
    <%= csrf_meta_tags %>
    <%= include_gon(:init => true) %>
     <%= Gon::Base.render_data({}) %>

    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'maps' %>
    <%= javascript_include_tag 'maps_show' %>
    <%= javascript_include_tag 'maps_index' %>
    <%= javascript_include_tag 'issues.js' %>
  </head>

  <body>
    <% if notice %>
      <div class="notice alert alert-info"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert alert-danger"><%= alert %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
