<!DOCTYPE html>
<html>
  <head>
    <title>FixCity</title>
    <%= csrf_meta_tags %>
    <%= include_gon(:init => true) %>
     <%= Gon::Base.render_data({}) %>

    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'issues.js' %>
    <%= javascript_include_tag 'maps_new' %>
    <%= javascript_include_tag 'maps_show' %>
    <%= javascript_include_tag 'maps_edit' %>
    <%= javascript_include_tag 'maps_index' %>
    <%= javascript_include_tag 'issues.js' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Fix City</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Report Issue', new_issue_path %></li>
              <li><%= link_to 'Add Tag', new_tag_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <% if notice %>
      <div class="notice alert alert-info"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert alert-danger"><%= alert %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
